$orange: #ff6b00;
$green: #47a836;
$red: #ef3e42;
$grey: #e6e6e6;
$blue: #2BABE2;

$xsmall-width: 400px;
$xsmall-width-up: 401px;
$small-width: 600px;
$small-width-up: 601px;
$medium-width: 750px;
$medium-width-up: 751px;
$large-width: 1000px;
$large-width-up: 1001px;

$fnt-ev: "EvelethClean", sans-serif;
$fnt-cm: "Campton", sans-serif;
$fnt-fh: "Filmotype-Hickory", sans-serif;
$fnt-hv: "Helvetica", sans-serif;
$fnt-bs: "Brush Script", sans-serif;
$fnt-ag: "AlternateGothicPro-No1", sans-serif;
$fnt-me: "Miss Ellen", sans-serif;
$fnt-lr: "Lunasol-Regular", sans-serif;
$fnt-jb: "Jawbreak-Sans", sans-serif;
$fnt-nkc: "Nokona-Condensed", sans-serif;
$fnt-nks: "Nokona-Super-Condensed", sans-serif;
$fnt-nk: "Nokona-Regular", sans-serif;
$fnt-jbc: "Jawbreak-Condensed", sans-serif;

$header-z: 200;
$popup-z: 201;
$shrowder-z: 800;
$info-overlay-z: 201;
$info-overlay-curr-z: 401;